<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

    <!-- Bootstrap -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <title>Portfolio</title>
</head>
<body>
    <div class="frame">
        <div class="main-frame">
            <div class="left-frame">
                <div class="left_1">
                    <div class="left-1-1">
                        <img src="images/Profile.png" width="156px" height="142px">
                    </div>
                    <div class="left-1-2"><%=user.name%></div>
                    <div class="left-1-3"><%=user.profession%></div>
                    <div class="left-icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/vector-1.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/vector-2.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/vector-3.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/vector-4.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/vector-5.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/vector-6.svg" class="icon-1">
                            </div>
                        </a>
                    </div>

                </div>
                <div class="marginer"></div>
                <div class="left_2"></div>
                <div class="marginer"></div>
                <div class="left_3"></div>
                <div class="marginer"></div>
                <div class="left_4"></div>
                <div class="marginer"></div>
                <div class="left_5"></div>
                <div class="marginer"></div>
            </div>
            <div class="mid-frame"></div>
            <div class="right-frame"></div>
        </div>
    </div>
</body>
</html>
